#registrationCarousel dl, dt {
  font-size: 12px;
}

#registrationCarousel dl {
  display: grid;
  grid-template-columns: max-content auto;
}

#registrationCarousel dt {
  grid-column-start: 1;
  padding: 0px 10px;
}

#registrationCarousel dd {
  grid-column-start: 2;
}

.participant-list div:nth-child(2n) {
  background-color: lightgray;
}

.participant {
	position: relative;
}

.delete-participant {
	position: absolute;
	right: 0px;
	padding: 0px 10px;
}

.edit-participant {
  position: absolute;
  right: 30px;
  padding: 0px 10px;
}

.carousel .carousel-item {
    transition-duration: 0.5s;
}